.home-page-container {
  padding-bottom: 50px;
  .header {
    height: 80px;
    background-color: #478ccf;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .add-icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a6847;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
  }
}
