.search-container {
  .header {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .search-input {
    padding: 0 10px;
  }
  .search-result {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px 20px;
  }
}
