.book-cover-container {
  width: 200px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  h4,
  p {
    margin: 0;
  }
  .icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffb200;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: 0px;
  }

  .actions-container {
    width: 200px;
    height: auto;
    position: absolute;
    right: -20px;
    top: 52px;
  }
}
